# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Nuxt build
.nuxt/
.output/
dist/
.cache/
.tmp-tests/

# Static build artifacts
*.log
*.tsbuildinfo

# OS / IDE / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Optional: lock dosyaları
package-lock.json

.data/
